{% extends "base.html" %}

{% block content %}
<div id="gameslist">
<table>
    <tr class='heading'>
        <td>ID</td>
        <td>Start Time</td>
        <td>Duration</td>
    </tr> 
    {% for i in game_list %}
        <tr>
        <td><a href="/game/{{ i.match_id }}/">{{ i.match_id }}</a></td>
        <td>{{ i.starttime }}</td>
        <td class='duration'>{{ i.mins}}:{{ i.sec}}</td>
        </tr>        
    {% endfor %}
</table>
</div>
</br>
<div id="nextlinks">
    <a href="/games/0/"><<</a>

    <a href="/games/{{ prev }}/"><</a>
      
    <a href="/games/{{ next }}/">></a>

    <a href="/games/{{ last }}/">>></a>
</div>
<p id='matches'>
    Displaying matches {{ min }}-{{ max }} of {{ total }} 
</p>


{% endblock %}