{% extends "base.html" %}

{% block content %}
<table>
    <tr class='heading'>
        <td>Name</td>
        <td>Games</td>
        <td>Wins</td>
        <td>Average Kills</td>
        <td>Average Deaths</td>
        <td>Average Assists</td>
    </tr>
    {% for i in uwcs_player_list %}
        <tr>
        <td><a href="/game/{{ i.account_id }}/">{{ i.name }}</a></td>
        <td>{{ i.games }}</td>
        <td>{{ i.wins}}</td>
        <td>{{ i.avg_kills}}</td>
        <td>{{ i.avg_deaths}}</td>
        <td>{{ i.avg_assists}}</td>
        </tr>  
    {% endfor %}  
</table>
{% endblock %}