<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <link href="/static/images/logo.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <title>{% block title %}UWCS DotA2 Stats{% endblock %}</title>
    
</head>

<body>

<div id="header">
    <h1> UWCS DotA Stats </h1>
    <div id="menu">
        <a href="/main/">Home</a>
        <a href="/games/">Games</a>
        <a href="/search/">Search</a>
        <a href="/add/">Add</a>
        
        
    </div>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>