body {
    background-color:#222;
    color: #DDD;
}

tr.heading {
    font-size: 20px;
    height: auto;
    background-color: #222
}


table, td {
    border: 1px solid #888;
    border-collapse:collapse;
    font-size: 18px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;  
}

tr {
    background-color: #333
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    background:#111;
    border-bottom: 1px solid #FFF
}

#header h1 {
    color: #FFF;
    text-align: center;
    font-size: 40px
}

#menu {
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    padding: 5px;
    text-align: center;
}

#menu  a{
    font-size: 18px;
    color: #DDD; 
    padding-left: 10px;
    padding-right: 10px;
    text-decoration:underline    
}

#menu  a:hover{
    text-decoration:none
}

a {
	color: #F0BC20;
    text-decoration:none
}

a:hover {
	color: #46D;
    text-decoration:none
}

#content {
    position: relative;    
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

#matches {
    text-align: center;
}

.duration {
    text-align: right;
}
 
#nextlinks {
    font-size: 20px;
    text-align: center;
}

#matchdetails {
    margin-left: auto;
    margin-right: auto;
    width: 500px
}

#playerheader {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}



.matchplayerstats {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-spacing: 0px;
}

.matchplayerstats td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.matchplayerstats img {
    margin: 0px;
    border-spacing: 0px;
    display: block;    
}

.matchplayerstats h3 {
    text-align: center;
}

.matchplayerstats table {
     width: 800px;
}
     
.numbersright {
    text-align: right;
}

.numbersrightgame {
    text-align: right;
    width: 15px;
}

.heroimg {
    padding: 0px;
    width: 59px;
}

.items {
    width: 240px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: auto;
    padding-bottom: auto;    
}

.items img {
    float: left;
}

.leaver {
    background-color: #480000 
}

.player {
    background-color: #333
}

#columns {
    padding-left: auto;
    padding-right: auto;
}

#columns ul li{
    list-style-type:none;
    padding:0px;
    margin:0px;    
}

#columns table tr {
    border: 1px solid #222;
}

#columns td {
    background-color: #222;
    text-align: left;
    border: 1px solid #222;
    width: 200px;
    margin-left: 10px;
}

.gameslist {
    border-spacing: 0px;
}

.gameslist td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.gameslist img {
    margin: 0px;
    border-spacing: 0px;
    display: block;  
}

.searchbox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}

.searchbox h3{
    text-align: left;
    margin-left: 15px;
}
